.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid var(--color-secondary);
  background: transparent;
}

.project:hover {
  border: 1px solid transparent;
  background: var(--color-secondary-alt);
}

.project:hover .project__image {
  box-shadow: 0 0 5px 0 var(--color-shadow);
  -webkit-box-shadow: 0 0 5px 0 var(--color-shadow);
}

.project__image {
  border-radius: 1.5rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.project__title {
  margin: 1.2rem 0 2rem;
}

.project__cta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: auto;
}

/* ============= MEDIA QUERIES (MD) ============= */

@media screen and (max-width: 1024px) {
  .projects__container {
    grid-template-columns: 1fr 1fr;
  }
}

/* ============= MEDIA QUERIES (sm) ============= */

@media screen and (max-width: 600px) {
  .projects__container {
    grid-template-columns: 1fr;
  }

  .project__code,
  .project__demo {
    text-align: center;
    width: 100%;
  }
}
