.experiences__timeline {
  position: relative;
  min-height: 10rem;
  padding: 3rem 0;
}

.experiences__line {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 2px;
  top: 0;
  bottom: 0;
  background-color: var(--color-secondary);
}

.experiences__line::before,
.experiences__line::after {
  position: absolute;
  display: block;
  content: '';
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  left: 50%;
  transform: translate(-50%, -50%);
}

.experiences__line::after {
  bottom: 0;
  transform: translate(-50%, 50%);
}

.experiences__event {
  display: flex;
}

.experiences__event:nth-child(odd) {
  flex-direction: row-reverse;
}

.experiences__card {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
  position: relative;
  border-radius: 1rem;
  margin-inline: auto;
  padding: 1rem;
  min-width: 15rem;
  max-width: 20rem;
  left: 5rem;
  transform: translate(50%);
  align-self: center;
  transition: var(--transition);
}

.experiences__card:hover {
  border-color: transparent;
  background-color: var(--color-secondary-alt);
}

.experiences__card::after {
  position: absolute;
  display: block;
  content: '';
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.experiences__card > h4 {
  color: var(--color-accent);
}

.experiences__card > small {
  display: block;
}

.experiences__event:nth-child(even) .experiences__card::after {
  left: 100%;
}

.experiences__event:nth-child(even) .experiences__card {
  left: -5rem;
  transform: translate(-50%);
}

.experiences__dot {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-self: center;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
}

.experiences__dot::after {
  position: relative;
  display: block;
  content: '';
  height: 0px;
  width: 5rem;
  border: 1px dashed var(--color-secondary);
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.experiences__event:nth-child(even) .experiences__dot::after {
  transform: translate(-100%);
}

@media screen and (max-width: 1024px) {
  .experiences__dot::after {
    width: 3.5rem;
  }

  .experiences__card {
    left: 3.5rem;
    min-width: unset;
    max-width: unset;
    width: 15rem;
  }

  .experiences__event:nth-child(even) .experiences__card {
    left: -3.5rem;
  }
}

/* ============= MEDIA QUERIES (sm) ============= */

@media screen and (max-width: 600px) {
  .experiences__timeline {
    padding: 2rem 0rem;
  }

  .experiences__dot {
    display: none;
  }

  .experiences__event {
    margin: 1rem 0rem;
  }

  .experiences__card,
  .experiences__event:nth-child(even) .experiences__card {
    margin-inline: auto;
    width: 28rem;
    left: unset;
    transform: unset;
    text-align: center;
  }

  .experiences__card::after,
  .experiences__event:nth-child(even) .experiences__card::after {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .experiences__card::before {
    position: absolute;
    display: block;
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
