.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.skills__container > div {
  background: var(--color-secondary-alt);
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: var(--transition);
}

.skills__container > div:hover {
  background: transparent;
  border: 1px solid var(--color-secondary);
}
