.contact__container.contact__container {
  width: 58%;
  display: flex;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-secondary-alt);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
}

.contact__option:hover {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
}

.contact__option-icon {
  font-size: 1.5rem;
}

.contact__option a {
  display: inline-block;
  font-size: 0.8rem;
}

