header {
  height: 100vh;
  min-height: 800px;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ============= CALL TO ACTION ============= */

.callToAction {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============= SIDE BUTTONS ============= */

.header__sidebuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 3rem;
}

.header__sidebuttons::after {
  content: '';
  width: 1px;
  height: 2rem;
  background-color: var(--color-accent);
}

.header__sidebuttons a * {
  font-size: 1.2em;
  transition: none;
}

/* ============= DARK MODE ============= */

.sidebuttons__bubble {
  background-color: var(--color-accent);
  color: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: 100%;
  width: max-content;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  translate: 0 -1.4rem;
  cursor: pointer;
  transform-origin: 0% 100%;
  animation-name: bounceOut;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: none;
}

.sidebuttons__bubble::before {
  content: '';
  display: block;
  width: 0;
  position: absolute;
  bottom: -16px;
  left: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--color-accent) transparent transparent var(--color-accent);
  transform: rotate(10deg);
}

@keyframes bounceOut {
  0% {
    transform: scale(0);
  }
  6% {
    transform: scale(1.25);
  }
  12% {
    transform: scale(1);
  }
}

/* ============= AVATAR ============= */

.avatar {
  background: linear-gradient(var(--color-secondary), transparent);
  width: 18rem;
  height: 24rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 4rem;
  padding: 1.5rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
}

/* ============= SCROLL DOWN ============= */

.scroll__down {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
}

.scroll__down svg {
  font-size: 1.2em;
  transition: none;
}

/* ============= MEDIA QUERIES (MD) ============= */

@media screen and (max-width: 1024px) and (min-height: 900px) {
  header {
    height: 62vh;
  }
}

/* ============= MEDIA QUERIES (sm) ============= */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__sidebuttons {
    gap: 0.7rem;
  }

  .sidebuttons__bubble {
    padding: 0.2rem 0.5rem;
  }

  .sidebuttons__bubble::before {
    bottom: -14px;
    border-width: 8px;
  }

  .avatar {
    width: 22rem;
    height: 30rem;
  }
}
