#nav * {
  transition: 0.1s ease-out;
}

nav {
  background: var(--color-nav);
  width: max-content;
  padding: 0.5rem 0.7rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 2;
}

nav a {
  background: transparent;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  font-size: 1.8em;
  color: var(--color-text);
}

nav a.active {
  background: var(--color-accent);
  color: var(--color-primary);
}

nav a:not(.active):hover {
  background: var(--color-nav-hover);
  color: var(--color-primary);
}

/* ============= MEDIA QUERIES (sm) ============= */

@media screen and (max-width: 600px) {
  nav {
    gap: 0.6rem;
  }
}
